<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  android:versionCode="1"
  android:versionName="0.0.1"
  package="com.emergetools.distribution"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application>
    <meta-data
      android:name="com.emergetools.distribution.API_KEY"
      android:value="${emerge.distribution.apiKey}" />
    <meta-data
      android:name="com.emergetools.distribution.TAG"
      android:value="${emerge.distribution.tag}" />

    <provider android:name="androidx.startup.InitializationProvider"
      android:authorities="${applicationId}.androidx-startup"
      android:exported="false"
      tools:node="merge">
      <meta-data android:name="com.emergetools.distribution.DistributionInitializer"
        android:value="androidx.startup" />
    </provider>
  </application>
</manifest>
